[Desktop Entry]
Encoding=UTF-8
Name=Open Syobon Action
GenericName=Hardcore 2D platformer
Comment=An improved SDL version of Syobon Action (also known as Cat Mario or Neko Mario)
Exec=syobon
Icon=open-syobon.png
Terminal=false
Type=Application
Categories=Application;Game

